In [6]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT Country, SUM(Sales) AS TotalSales FROM sales_data  GROUP BY Country ORDER BY TotalSales DESC")

result_df.show()

+------------------+------------------+
|           Country|        TotalSales|
+------------------+------------------+
|     United States| 2272449.856299968|
|         Australia| 925235.8529999997|
|            France| 858931.0830000006|
|             China| 700562.0250000003|
|           Germany| 628840.0305000001|
|            Mexico| 622590.6175199997|
|             India| 589650.1049999999|
|    United Kingdom| 528576.2999999995|
|         Indonesia|       404887.4979|
|            Brazil| 361106.4189600004|
|             Italy|        289709.658|
|             Spain|287146.68000000005|
|       Philippines|        183420.165|
|       El Salvador|177554.90319999988|
|       New Zealand|172020.62400000013|
|              Cuba|158854.93548000007|
|         Nicaragua|149687.06456000003|
|         Guatemala|131602.46675999995|
|Dominican Republic|126140.58128000004|
|              Iran|113746.10999999999|
+------------------+------------------+
only showing top 20 rows

In [4]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT Region, AVG(Profit) AS AverageProfit FROM sales_data GROUP BY Region ORDER BY AverageProfit DESC")

result_df.show()

+--------------+------------------+
|        Region|     AverageProfit|
+--------------+------------------+
|    North Asia| 70.82053934987178|
|  Central Asia| 64.68759130859378|
|        Canada|46.399453125000015|
|         North| 40.66832863531873|
|       Oceania|34.439091482649815|
|          West| 33.50099953168908|
|          East| 32.16399462780898|
|       Central|28.051463716830032|
|         South|21.107099605718602|
|     Caribbean|20.456402982248513|
|        Africa|19.374674296926074|
|          EMEA| 8.728966196062856|
|Southeast Asia| 5.705442313838281|
+--------------+------------------+

In [8]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT Segment, SUM(ShippingCost) AS TotalShippingCost FROM sales_data GROUP BY Segment ORDER BY TotalShippingCost DESC")

result_df.show()

+-----------+------------------+
|    Segment| TotalShippingCost|
+-----------+------------------+
|   Consumer| 696737.5118000008|
|  Corporate| 410810.3044999995|
|Home Office|245140.97340000072|
+-----------+------------------+

In [11]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT Market, COUNT(CustomerID) AS NumberOfCustomers FROM sales_data GROUP BY Market ORDER BY NumberOfCustomers DESC")

result_df.show()

+------+-----------------+
|Market|NumberOfCustomers|
+------+-----------------+
|  APAC|            11002|
| LATAM|            10294|
|    EU|            10000|
|    US|             9994|
|  EMEA|             5029|
|Africa|             4587|
|Canada|              384|
+------+-----------------+

In [16]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT SubCategory, COUNT(OrderID) AS NumberOfOrders FROM sales_data GROUP BY SubCategory ORDER BY NumberOfOrders DESC")

result_df.show()

+-----------+--------------+
|SubCategory|NumberOfOrders|
+-----------+--------------+
|    Binders|          6152|
|    Storage|          5059|
|        Art|          4883|
|      Paper|          3538|
|     Chairs|          3434|
|     Phones|          3357|
|Furnishings|          3170|
|Accessories|          3075|
|     Labels|          2606|
|  Envelopes|          2435|
|   Supplies|          2425|
|  Fasteners|          2420|
|  Bookcases|          2411|
|    Copiers|          2223|
| Appliances|          1755|
|   Machines|          1486|
|     Tables|           861|
+-----------+--------------+

In [23]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT OrderPriority, SUM(Quantity) AS TotalQuantity FROM sales_data GROUP BY OrderPriority ORDER BY TotalQuantity DESC limit 4")

result_df.show()

+-------------+-------------+
|OrderPriority|TotalQuantity|
+-------------+-------------+
|       Medium|     101846.0|
|         High|      53727.0|
|     Critical|      13363.0|
|          Low|       8252.0|
+-------------+-------------+

In [24]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("SELECT ShipMode, Region, SUM(ShippingCost) AS TotalShippingCost FROM sales_data GROUP BY ShipMode, Region ORDER BY Region, ShipMode")

result_df.show()

+--------------+------------+------------------+
|      ShipMode|      Region| TotalShippingCost|
+--------------+------------+------------------+
|   First Class|      Africa| 19796.19999999999|
|      Same Day|      Africa| 8798.429999999998|
|  Second Class|      Africa|          23024.63|
|Standard Class|      Africa| 36520.21000000001|
|   First Class|      Canada|1934.4399999999998|
|      Same Day|      Canada|            631.53|
|  Second Class|      Canada|2688.2900000000004|
|Standard Class|      Canada|2151.3700000000003|
|   First Class|   Caribbean| 7474.250000000001|
|      Same Day|   Caribbean|3097.5699999999997|
|  Second Class|   Caribbean|           9550.09|
|Standard Class|   Caribbean|15468.239999999998|
|   First Class|     Central| 67350.72159999987|
|      Same Day|     Central|24589.182800000002|
|  Second Class|     Central| 68078.09319999996|
|Standard Class|     Central|136221.03329999992|
|   First Class|Central Asia|14781.250000000005|
|      Same Day|Central Asia|5400.9800000000005|
|  Second Class|Central Asia|18349.789999999997|
|Standard Class|Central Asia| 39298.13000000005|
+--------------+------------+------------------+
only showing top 20 rows

In [42]:
import pyspark
from pyspark.sql.types import StructType, StructField, StringType,IntegerType, DoubleType, BooleanType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
salesdata=spark.read.format('csv').option('header','true').load('Sales.csv')
salesdata.createOrReplaceTempView('sales_data')
result_df = spark.sql("""SELECT YEAR(TO_DATE(OrderDate, 'M/d/yyyy')) AS Year, COUNT(DISTINCT CustomerID) AS NumberOfCustomers FROM sales_data WHERE OrderDate 
IS NOT NULL GROUP BY YEAR(TO_DATE(OrderDate, 'M/d/yyyy')) ORDER BY Year""")

result_df.show()

+----+-----------------+
|Year|NumberOfCustomers|
+----+-----------------+
|2011|             1309|
|2012|             1373|
|2013|             1458|
|2014|             1511|
+----+-----------------+

In [27]:
salesdata.show()

+-----+---------------+----------+----------+--------------+----------+----------------+-----------+-------------+---------------+-------------+------+------------+----------------+---------------+-----------+--------------------+--------+--------+--------+----------+------------+-------------+
|RowID|        OrderID| OrderDate|  ShipDate|      ShipMode|CustomerID|    CustomerName|    Segment|         City|          State|      Country|Market|      Region|       ProductID|       Category|SubCategory|         ProductName|   Sales|Quantity|Discount|    Profit|ShippingCost|OrderPriority|
+-----+---------------+----------+----------+--------------+----------+----------------+-----------+-------------+---------------+-------------+------+------------+----------------+---------------+-----------+--------------------+--------+--------+--------+----------+------------+-------------+
|32298| CA-2012-124891| 7/31/2012| 7/31/2012|      Same Day|  RH-19495|     Rick Hansen|   Consumer|New York City|       New York|United States|    US|        East| TEC-AC-10003033|     Technology|Accessories|Plantronics CS510...| 2309.65|       7|       0|  762.1845|      933.57|     Critical|
|26341|  IN-2013-77878|  5/2/2013|  7/2/2013|  Second Class|  JR-16210|   Justin Ritter|  Corporate|   Wollongong|New South Wales|    Australia|  APAC|     Oceania| FUR-CH-10003950|      Furniture|     Chairs|Novimex Executive...|3709.395|       9|     0.1|  -288.765|      923.63|     Critical|
|25330|  IN-2013-71249|10/17/2013|10/18/2013|   First Class|  CR-12730|    Craig Reiter|   Consumer|     Brisbane|     Queensland|    Australia|  APAC|     Oceania| TEC-PH-10004664|     Technology|     Phones|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971|      915.49|       Medium|
|13524|ES-2013-1579342| 1/28/2013| 1/30/2013|   First Class|  KM-16375|Katherine Murray|Home Office|       Berlin|         Berlin|      Germany|    EU|     Central| TEC-PH-10004583|     Technology|     Phones|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|      910.16|       Medium|
|47221|   SG-2013-4320| 5/11/2013| 6/11/2013|      Same Day|   RH-9495|     Rick Hansen|   Consumer|        Dakar|          Dakar|      Senegal|Africa|      Africa|TEC-SHA-10000501|     Technology|    Copiers|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|      903.04|     Critical|
|22732|  IN-2013-42360| 6/28/2013|  1/7/2013|  Second Class|  JM-15655|     Jim Mitchum|  Corporate|       Sydney|New South Wales|    Australia|  APAC|     Oceania| TEC-PH-10000030|     Technology|     Phones|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|      897.35|     Critical|
|30570|  IN-2011-81826| 7/11/2011| 9/11/2011|   First Class|  TS-21340|   Toby Swindell|   Consumer|      Porirua|     Wellington|  New Zealand|  APAC|     Oceania| FUR-CH-10004050|      Furniture|     Chairs|Novimex Executive...| 1822.08|       4|       0|    564.84|      894.77|     Critical|
|31192|  IN-2012-86369| 4/14/2012| 4/18/2012|Standard Class|  MB-18085|      Mick Brown|   Consumer|     Hamilton|        Waikato|  New Zealand|  APAC|     Oceania| FUR-TA-10002958|      Furniture|     Tables|Chromcraft Confer...| 5244.84|       6|       0|    996.48|      878.38|         High|
|40155| CA-2014-135909|10/14/2014|10/21/2014|Standard Class|  JW-15220|       Jane Waco|  Corporate|   Sacramento|     California|United States|    US|        West| OFF-BI-10003527|Office Supplies|    Binders|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|      867.69|          Low|
|40936| CA-2012-116638| 1/28/2012| 1/31/2012|  Second Class|  JH-15985|     Joseph Holt|   Consumer|      Concord| North Carolina|United States|    US|       South| FUR-TA-10000198|      Furniture|     Tables|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|      865.74|     Critical|
|34577| CA-2011-102988|  5/4/2011|  9/4/2011|  Second Class|  GM-14695|    Greg Maxwell|  Corporate|   Alexandria|       Virginia|United States|    US|       South| OFF-SU-10002881|Office Supplies|   Supplies|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|      846.54|         High|
|28879|  ID-2012-28402| 4/19/2012| 4/22/2012|   First Class|  AJ-10780|  Anthony Jacobs|  Corporate|        Kabul|          Kabul|  Afghanistan|  APAC|Central Asia| FUR-TA-10001889|      Furniture|     Tables|Bevis Conference ...| 4626.15|       5|       0|    647.55|      835.57|         High|
|45794|   SA-2011-1830|12/27/2011|12/29/2011|  Second Class|   MM-7260| Magdelene Morse|   Consumer|        Jizan|          Jizan| Saudi Arabia|  EMEA|        EMEA|TEC-CIS-10001717|     Technology|     Phones|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|      832.41|     Critical|
| 4132| MX-2012-130015|11/13/2012|11/13/2012|      Same Day|  VF-21715|  Vicky Freymann|Home Office|       Toledo|         Parana|       Brazil| LATAM|       South| FUR-CH-10002033|      Furniture|     Chairs|Harbour Creations...|  2221.8|       7|       0|    622.02|      810.25|     Critical|
|27704|  IN-2013-73951|  6/6/2013|  8/6/2013|  Second Class|  PF-19120|    Peter Fuller|   Consumer|   Mudanjiang|   Heilongjiang|        China|  APAC|  North Asia| OFF-AP-10003500|Office Supplies| Appliances|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|      804.54|     Critical|
|13779|ES-2014-5099955| 7/31/2014|  3/8/2014|  Second Class|  BP-11185|    Ben Peterman|  Corporate|        Paris|  Ile-de-France|       France|    EU|     Central| OFF-AP-10000423|Office Supplies| Appliances|Breville Refriger...|1869.588|       4|     0.1|   186.948|      801.66|     Critical|
|36178| CA-2014-143567| 3/11/2014| 6/11/2014|  Second Class|  TB-21175|   Thomas Boland|  Corporate|    Henderson|       Kentucky|United States|    US|       South| TEC-AC-10004145|     Technology|Accessories|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|       780.7|     Critical|
|12069|ES-2014-1651774|  8/9/2014| 9/14/2014|Standard Class|  PJ-18835|   Patrick Jones|  Corporate|        Prato|        Tuscany|        Italy|    EU|       South| OFF-AP-10004512|Office Supplies| Appliances|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|      778.32|          Low|
|22096|  IN-2014-11763| 1/31/2014|  1/2/2014|   First Class|  JS-15685|        Jim Sink|  Corporate|   Townsville|     Queensland|    Australia|  APAC|     Oceania| TEC-CO-10000865|     Technology|    Copiers|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|      766.93|     Critical|
|49463|   TZ-2014-8190| 5/12/2014| 7/12/2014|  Second Class|   RH-9555| Ritsa Hightower|   Consumer|       Uvinza|         Kigoma|     Tanzania|Africa|      Africa|OFF-KIT-10004058|Office Supplies| Appliances|KitchenAid Stove,...| 3409.74|       6|       0|    818.28|      763.38|         High|
+-----+---------------+----------+----------+--------------+----------+----------------+-----------+-------------+---------------+-------------+------+------------+----------------+---------------+-----------+--------------------+--------+--------+--------+----------+------------+-------------+
only showing top 20 rows